download
ipython<=7.31.1  # This pinning is needed for Python 3.7
ipywidgets
h5py
holoviews[recommended]
notebook
numpy<=1.21.5  # This pinning is needed for Python 3.7
matplotlib
pandas<=1.3.5  # This pinning is needed for Python 3.7
plotly
PyDynamic
